{% extends 'ledger/layout.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block body %}
{% if message %}
<div class="error">{{ message }}</div>
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="InputUsername" class="form-label">Username</label>
        <input type="text" id="InputUsername" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="InputPassword" class="form-label">Password</label>
        <input type="password" name="password" id="InputPassword" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}

{% block script %}
    <script src="{% static 'ledger/script.js' %}"></script>
{% endblock %}